@import "@tldraw/tldraw/tldraw.css";

#tldraw-view-root {
	width: 100%;
	height: calc(100% - 28px);
	border-radius: 6px;
	overflow: hidden;

	transform: translate3d(0, 0, 0);
}

#tldraw-view-root button:not(.clickable-icon) {
	background-color: initial;
	box-shadow: initial;
}

#tldraw-view-root kbd {
	background: inherit;
	border-radius: inherit;
	padding: inherit;
}

.otldraw-status-bar-view-mode-container {
	display: flex;
	align-items: center;
	gap: 4px;
}

/* specificity war with obsidian: */
.plugin-tldraw-in-obsidian
	.otldraw-status-bar-view-mode-container
	.otldraw-status-bar-button {
	background-color: transparent;
	padding: 0 4px;
	height: 12px;
	box-shadow: none;
	border-radius: 2px;

	display: grid;
	place-items: center;

	font-size: 10px;
	font-weight: 700;
	line-height: 10px;

	cursor: pointer;
}

.plugin-tldraw-in-obsidian
	.otldraw-status-bar-view-mode-container
	.otldraw-status-bar-button.view-mode-highlight {
	background-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}

.hide-status-bar-view-mode {
	display: none;
}

.tldraw-obs-button-container {
	display: flex;
	align-items: center;
	gap: 2px;
}
